@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  overflow-x: hidden;
}
.page-width {
  max-width: 1440px;
  width: 100%;
  padding: 20px 60px;
  margin: 0 auto;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.menu-item {
  color: #000;
  font-family: "Space-Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.menu-item:hover {
  font-weight: 500;
}

.nav-button {
  padding: 10px 35px;
  border-radius: 14px;
  border: 1px solid var(--Dark, #191a23);
  font-weight: 500;
}

.mobile-menu-wrapper {
  display: none;
}

#mobile-menu-close-button {
  display: none;
}

/* Hero Section CSS Start Here  */

@media (max-width: 600px) {
  .navigation-wrapper {
    margin-top: 0;
    padding: 10px 20px;
    position: relative;
    background-color: #191a23;
  }
  .menu-wrapper {
    display: none;
  }

  .page-width {
    padding: 0;
  }

  .mobile-logo {
    width: 150px;
  }
  .buttons-wrapper {
    display: none;
  }

  #mobile-menu-button {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: white;
  }

  .mobile-menu-wrapper {
    position: absolute;
    right: 0;
    width: 250px;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    background-color: #191a23;
    transition: display 0.6s;
    overflow: hidden;
  }

  .mobile-menu-item {
    text-align: left;
    padding: 10px 20px;
    min-width: 100%;
    color: white;
  }
  .mobile-menu-item:hover {
    background-color: #b9ff66;
    color: #191a23;
  }

  #mobile-menu-close-button {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
  }

  .mobile-nav-button {
    padding: 10px 35px;
    border-radius: 14px;
    border: 1px solid #b9ff66;
    font-weight: 500;
    color: white;
    margin: 20px;
  }
}
